{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  {{- if .is_nasa }}
  "provider": {
    "nasa_litellm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "NASA LiteLLM",
      "options": {"baseURL": "https://llm-api-access.caio.mcp.nasa.gov"},
      "models": {
        "gemini-3.1-flash-lite-preview": {"name": "Gemini 3.1 Flash Lite (Preview)"},
        "gemini-3.1-pro-preview": {"name": "Gemini 3.1 Pro (Preview)"},
        "gpt-5.2": {"name": "GPT 5.2"},
        "claude-4.6-sonnet": {"name": "Claude 4.6 Sonnet"},
        "claude-4.6-sonnet-thinking": {"name": "Claude 4.6 Sonnet (thinking)"},
        "claude-4.6-opus": {"name": "Claude 4.6 Opus"},
        "claude-4.6-opus-thinking": {"name": "Claude 4.6 Opus (thinking)"},
        "claude-4.5-haiku": {"name": "Claude 4.5 Haiku"},
        "claude-3.5-haiku": {"name": "Claude 3.5 Haiku"},
      }
    }
  },
  {{- end }}
  "permission": {
    "bash": {
      "pip install *": "deny",
      "brew *": "deny",
      "git push *": "ask",
      "rm *": "ask"
    }
  },
  "plugin": ["@tarquinen/opencode-dcp@latest"]
}
