{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  {{- if .is_nasa }}
  "provider": {
    "nasa_litellm": {
      "npm": "@ai-sdk/openai",
      "name": "NMC LiteLLM",
      "options": {"baseURL": "https://proxy.fast.luna.nasa.gov"},
      "models": {
        "gemini-3.1-flash-lite-preview": {"name": "Gemini 3.1 Flash Lite (Preview)"},
        "gemini-3.1-pro-preview": {"name": "Gemini 3.1 Pro (Preview)"},
        "gpt-5.2": {"name": "GPT 5.2"},
        "claude-sonnet-4.6": {"name": "Claude 4.6 Sonnet"},
        "claude-sonnet-4.6-thinking": {"name": "Claude 4.6 Sonnet (thinking)"},
        "claude-opus-4.6": {"name": "Claude 4.6 Opus"},
        "claude-opus-4.6-thinking": {"name": "Claude 4.6 Opus (thinking)"},
        "claude-haiku-4.5": {"name": "Claude 4.5 Haiku"},
        "claude-haiku-3.5": {"name": "Claude 3.5 Haiku"}
      }
    }
  },
  {{- end }}
  "permission": {
    "bash": {
      "pip install *": "deny",
      "brew *": "deny",
      "git push *": "ask",
      "rm *": "ask"
    }
  },
  "plugin": ["@tarquinen/opencode-dcp@latest"]
}
