sourceDir: {{ .chezmoi.sourceDir }}

data:
  ostype: {{ .chezmoi.os | quote }}

  is_macos: {{ eq .chezmoi.os "darwin" }}
  is_linux: {{ eq .chezmoi.os "linux" }}
  is_wsl: {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# vim: filetype=yaml :
