#!/usr/bin/sh

alias ghash="git log --pretty=format:'%h' -n 1"
alias ls='ls --color=auto'
alias isodate="date +%Y-%m-%d"

alias vnv="source .venv/bin/activate"

if alias pivssh &> /dev/null; then
  unalias pivssh
fi

{{- if .is_macos }}
pivssh() {
  # Remove existing keys (if present)
  ssh-add -L | grep 'PIV\|Digital Signature' | ssh-add -d -
  # ...and then refresh the input
  ssh-add -s /usr/lib/ssh-keychain.dylib
}
{{- end }}

awsprof() {
  if ! command -v aws-sso-profile >/dev/null; then
    echo "aws-sso-profile command not found"
    return 1
  fi
  if [[ "$#" -eq 0 ]]; then
    echo "AWS_SSO_PROFILE=$AWS_SSO_PROFILE"
    return 0
  fi
  if [[ "$1" = "-d" ]]; then
    echo "Clearing AWS_PROFILE"
    aws-sso-clear 
    return 0
  fi
  PROF="smdc-aws-"${1}":Project-Admin"
  echo "Setting profile: $PROF"
  aws-sso-profile "$PROF"
}

azsubid() {
  export ARM_SUBSCRIPTION_ID=$(az account list --query '[?isDefault].id' --output tsv)
}

azlogin() {
  az login -t smce.nasa.gov
  azsubid
}

azactivate() {
  JUSTIFICATION="work"
  DURATION="PT8H"
  API_VERSION="2020-10-01-preview"
  REQUEST_GUID=$(uuidgen)

  AZRESULT=$(az rest --method get --url \
    "https://management.azure.com/providers/Microsoft.Authorization/roleEligibilityScheduleInstances?api-version=${API_VERSION}&\$filter=asTarget()")

  OWNER_JSON=$(jq '.value[] | select(.properties.expandedProperties.roleDefinition.displayName == "Owner")' <<<$AZRESULT)
  PRINCIPAL_ID=$(jq -r '.properties.expandedProperties.principal.id' <<<$OWNER_JSON)
  ROLE_DEFINITION_ID=$(jq -r '.properties.expandedProperties.roleDefinition.id' <<<$OWNER_JSON)
  SUBSCRIPTION_ID=$(jq -r '.properties.expandedProperties.scope.id' <<<$OWNER_JSON)
  ELIGIBILITY_SCHEDULE_ID=$(jq -r '.properties.roleEligibilityScheduleId' <<<$OWNER_JSON)

  REQUEST_BODY=$(jq -n \
    --arg principalID "$PRINCIPAL_ID" \
    --arg roleDefID "$ROLE_DEFINITION_ID" \
    --arg justification "$JUSTIFICATION" \
    --arg duration "$DURATION" \
    --arg eligibilityID "$ELIGIBILITY_SCHEDULE_ID" \
    '{
      "properties": {
        "principalId": $principalID,
        "roleDefinitionId": $roleDefID,
        "requestType": "SelfActivate",
        "linkedRoleEligibilityScheduleId": $eligibilityID,
        "justification": $justification,
        "scheduleInfo": {
          "expiration": {
            "type": "AfterDuration",
            "duration": $duration
          }
      }
  }
  }')

  az rest --method put \
    --url "https://management.azure.com${SUBSCRIPTION_ID}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/$REQUEST_GUID?api-version=${API_VERSION}" \
    --body "$REQUEST_BODY"

}

apache() {
  LICENSEFILE="$HOME/.cache/apache_2_0"
  if [[ ! -f $LICENSEFILE ]]; then
    echo "$LICENSEFILE not found in cache. Downloading..."
    curl -L https://www.apache.org/licenses/LICENSE-2.0.txt -o $LICENSEFILE
  fi
  cp $LICENSEFILE ${1:-LICENSE}
}

ghostic() {
  infocmp -x xterm-ghostty | ssh "$@" -- tic -x -
}

{{- if (.is_wsl) }}
open() {
  /mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe -c start $@
}

wezterm() {
  "/mnt/c/Program Files/WezTerm/wezterm.exe" $@
}
{{- end }}

# vim: set filetype=sh :
