[core]
	excludesfile = ~/.gitignore_global

[credential]
	helper = cache

[init]
	defaultBranch = main

[pull]
  rebase = true

[merge]
  conflictStyle = zdiff3

[user]
	name = Alexey Shiklomanov
{{- if .is_nasa }}
	email = alexey.shiklomanov@nasa.gov
{{- else }}
	email = alexey.shiklomanov@gmail.com
{{- end }}

{{- with lookPath "gh" }}
[credential "https://github.com"]
	helper = 
	helper = !{{ . }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ . }} auth git-credential
{{- end }}

{{- if lookPath "nvim" }}
[diff]
  tool = nvimdiff
{{- end }}

{{- if lookPath "delta"}}
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
{{- end }}
