#!/usr/bin/env sh

{{- if .is_macos }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

[ -f "$HOME/.local/bin/env" ] && . "$HOME/.local/bin/env"

[ -f "$HOME/.cargo/env" ] && \. "$HOME/.cargo/env"

# Add a directory to PATH if the directory exists and is not already in PATH
_addpath() {
  local hdir="$1"
  [[ ! -d "$hdir" ]] && return 0
  case ":$PATH:" in
    *":$hdir:"*) ;;
    *) PATH="$hdir${PATH:+:${PATH}}" ;;
  esac
  return 0
}

_addpath "{{ .chezmoi.homeDir }}/.juliaup/bin"
_addpath "{{ .chezmoi.homeDir }}/.local/bin"
_addpath "{{ .chezmoi.homeDir }}/.opencode/bin"
_addpath "{{ .chezmoi.homeDir }}/.bun/bin"
_addpath "{{ .chezmoi.homeDir }}/.pixi/bin"

if command -v nvim > /dev/null; then
  export EDITOR=nvim
  export MANPAGER='nvim +Man!'
else
  export EDITOR=vim
fi

export PATH

unset -f _addpath

# vim: set filetype=sh :
