
c.TerminalInteractiveShell.display_completions = "readlinelike"

# from prompt_toolkit.styles import Style
# c.TerminalInteractiveShell.display_completions = "multicolumn"

# pt_style_overrides = Style.from_dict({
#   "completion-menu": "bg:{{ .colors.surface0 }} {{ .colors.text_hex }}",
#   "completion-menu.completion": "bg:{{ .colors.surface0 }} {{ .colors.text_hex }}",
#   "completion-menu.completion.current": "bg:{{ .colors.surface1 }} {{ .colors.yellow_hex }}",
#   "completion-menu.meta": "bg:{{ .colors.surface0 }} {{ .colors.mauve_hex }}",
#   "completion-menu.meta.current": "bg:{{ .colors.surface1 }} {{ .colors.mauve_hex }}",
#   "scrollbar.background": "bg:{{ .colors.surface0 }}",
#   "scrollbar.button":     "bg:{{ .colors.surface2 }}",
#   "completion-menu.match": "{{ .colors.blue_hex }}",
#   "completion-menu.match.current": "bg:{{ .colors.surface1 }} {{ .colors.blue_hex }}",
# })
#
# c.TerminalInteractiveShell.highlighting_style_overrides = pt_style_overrides

# vim: set filetype=py :
